{% extends 'public.template.html.twig' %}

{% block title %}{{ parent() }} Administration{% endblock %}

{% block menuLinks %}
    {% include 'admin/back.menu.html.twig' %}
{% endblock %}

{%block htitle %}Administration | Articles{% endblock %}
{%block hdesc %}Détail de l'article{% endblock %}

{% block boutonshauts %}

{% endblock %}

{% block articlePerOne %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>TitleSlug</th>
                <td>{{ article.titleSlug }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ article.text }}</td>
            </tr>
            <tr>
                <th>ArticleDateCreate</th>
                <td>{{ article.articleDateCreate ? article.articleDateCreate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ArticleDatePosted</th>
                <td>{{ article.articleDatePosted ? article.articleDatePosted|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Published</th>
                <td>{{ article.published ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_article_index') }}">back to list</a>

    <a href="{{ path('app_admin_article_edit', {'id': article.id}) }}">edit</a>

    {{ include('admin_article/_delete_form.html.twig') }}
{% endblock %}
