{% extends 'public.template.html.twig' %}

{% block title %}{{ parent() }} Article | {{ article.title }}{% endblock %}

{% block menuLinks %}
    {% include 'main/menu.html.twig' %}
{% endblock %}
{% block sizeTitle %}8{% endblock %}
{%block htitle %}Article : {{ article.title }}{% endblock %}
{%block hdesc %}{% endblock %}
{% block boutonshauts %}{% endblock %}

{% block articlePerOne %}

    <div class="col-lg-12 mb-5 mb-lg-0">
        <h2 class="h4 fw-bolder mb-3">{{ article.title }}</h2>
        <h4 class="h5">{{ article.User.fullname }} le {{ article.articleDatePosted|date("d/m/Y \à H:i") }}</h4>
        <hr>
        {% for section in article.sections %}
            {% if loop.first %}<p>Sections: {% endif %}
            <a href="{{ path("categorie", { 'slug' :  section.sectionSlug }) }}">{{ section.sectionTitle }}</a>
            {% if not loop.last %} | {% endif %}
            {% if loop.last %}</p>{% endif %}
        {% else %}
            <p>Pas de section</p>
        {% endfor %}
        <hr>
        <p>{{ article.text|striptags|nl2br }}</p>
        <h4 class="h5">Par {{ article.user.fullname }} le {{ article.articleDatePosted|date("d/m/Y \à H:i") }}</h4>
    </div>
    {% block commentaire %}{% endblock %}
{% endblock %}

