{% extends 'public.template.html.twig' %}

{% block title %}{{ parent() }} Catégorie | {{ categorie.sectionTitle }}{% endblock %}

{% block menuLinks %}

    {% include 'main/menu.html.twig' %}
{% endblock %}
{% block sizeTitle %}8{% endblock %}
{%block htitle %}Catégorie : {{ categorie.sectionTitle }}{% endblock %}
{%block hdesc %}{{ categorie.sectionDetail }}{% endblock %}
{% block boutonshauts %}{% endblock %}


{% block articlePerOne %}
    {% for article in articles %}
        {% if article.published %}
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder">{{ article.Title }}</h2>
                <p>{{ article.User.fullname }} le {{ article.articleDatePosted|date("d/m/Y \à H:i") }}</p>
                {% for section in article.sections %}
                    {% if loop.first %}<p>Sections: {% endif %}
                    <a href="{{ path("categorie", { 'slug' :  section.sectionSlug }) }}">{{ section.sectionTitle }}</a>
                    {% if not loop.last %} | {% endif %}
                    {% if loop.last %}</p>{% endif %}
                {% else %}
                    <p>Pas de section</p>
                {% endfor %}
                <p>{{ article.Text|u.truncate(200, '...', false)|striptags }}</p>

                <a class="text-decoration-none" href="{{ path("article", { 'slug' :  article.titleSlug }) }}">
                    Lire la suite
                    <i class="bi bi-arrow-right"></i><p></p>
                </a>
            </div>
        {% endif %}
    {% endfor %}
{% endblock %}

