{% extends 'public.template.html.twig' %}

{% block title %}{{ parent() }} Page d'accueil{% endblock %}

{% block menuLinks %}
    {% include 'main/menu.html.twig' %}
{% endblock %}

{%block htitle %}Site TI minimal sur Symfony 6.4 LTS{% endblock %}
{%block hdesc %}Pour les webdevs du CF2m 2024{% endblock %}

{% block boutonshauts %}

{% endblock %}

{% block articlePerOne %}
    {% for article in articles %}
    <div class="col-lg-4 mb-5 mb-lg-0">
        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
        <h2 class="h4 fw-bolder">{{ article.Title }}</h2>
        <p>{{ article.User.fullname }} le {{ article.articleDatePosted|date("d/m/Y \à H:i") }}</p>
        {% for section in article.sections %}
            {% if loop.first %}<p>Sections: {% endif %}
            <a href="{{ path("categorie", { 'slug' :  section.sectionSlug }) }}">{{ section.sectionTitle }}</a>
            {% if not loop.last %} | {% endif %}
            {% if loop.last %}</p>{% endif %}
            {% else %}
            <p>Pas de section</p>
        {% endfor %}
        <p>{{ article.Text|u.truncate(300, '...', false)|striptags }}</p>

        <a class="text-decoration-none" href="{{ path("article", { 'slug' :  article.titleSlug }) }}">
            Lire la suite
            <i class="bi bi-arrow-right"></i><p></p>
        </a>
    </div>
    {% endfor %}
{% endblock %}

